body {
    font-family: "Lora", sans-serif;
    background-color: #f5f5f5; /* Fundo mais suave */
    margin: 0;
    padding: 0;
}

.checkout-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
image-resolution: 20px;

}

h1 {
    text-align: center;
    color: pink; /* Cor verde escura */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: pink; /* Cor verde escura */
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="text"]:focus,
select:focus {
    border-color:pink /* Cor verde escura */
    outline: none;
}

.btn-submit, .btn-generate-boleto {
    width: 100%;
    background-color: pink; /* Cor verde escura */
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.btn-submit:hover, .btn-generate-boleto:hover {
    background-color: pink; /* Cor verde mais escura */
}